<form name="commentsForm" class="comments-form-style" (ngSubmit)="f.form.valid && saveComments()" #f="ngForm" novalidate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update comments</h4>
    <button type="button" class="close pull-right" data-dismiss="modal" (click)="hideConfirmationModal()">
      <i class="fa fa-close comment-close-icon" title="Close"></i>
    </button>
  </div>
  <div class="modal-body comment-modal-body">
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" name="commentType" [(ngModel)]="selectedCommentType">
        <option *ngFor="let type of commentType" [ngValue]="type">{{type.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" name="commentDescription" maxtextlength="150" [(ngModel)]="comment.commentDescription"
        #commentDescription="ngModel" placeholder="Enter your comments" [ngClass]="{'has-error': f.submitted && !commentDescription.valid }"
        required></textarea>
    </div>

    <div *ngIf="f.submitted && !commentDescription.valid" class="error-msg-style">Please enter description</div>
  </div>
  <div class="modal-footer">
    <div class="buttons-combined pull-right">
      <button class="button button-secondary modal-btn" type="button" data-dismiss="modal" (click)="onCancel()">Cancel</button>
      <button class="button button-primary modal-btn" type="submit" data-dismiss="modal">Save</button>
    </div>
  </div>
</form>