.page-container {
    width: 98%;
    float: left;
    margin: 1.25rem 1rem;
    height: calc(100vh - 3.6rem - 5.2rem);
  }
  .schedule-cntr-header{
    border-bottom: 1px solid #f2f2f2;
  }
  .schedule-cntr{
    padding-bottom:1rem;
    padding-right:0rem;
  }
  .schedule-cntr .dropdown {
    margin-bottom:0;
  }
  .schedule-cntr .dropdown-toggle::after
  {
    display: none;
  }
  .schedule-cntr .field-div{
    margin:1.25rem 0px;
  }
  .schedule-cntr .pull-left{
    width:40%;
  }
  .schedule-cntr .pull-right{
    width:60%;
  }

 .btn-cntr{
    text-align: right;
    display: block;
  }
  .schedule-cntr .retroLink-text
  {
    width: 26%;
  }
  .schedule-cntr .retro-textBox
  {
    width: 74%;
  }
  .retro-textBox-width
  {
    width:88%;
  }
