<div class="adminContainer">
  <div class="admin-block">
    <h1>Create retrospective meeting</h1>
    <form name="meetingForm" class="admin-form-style" (ngSubmit)="f.form.valid && scheduleMeeting()" #f="ngForm" novalidate>
      <div class="meetingForm-elements" *ngIf="!showRetroLink">
        <div class="text-content">
          <i class="material-icons input-icon-style md-light md-inactive">folder_special
          </i>
          <input type="text" class="text-input project-name" [(ngModel)]="userInfo.projectName" #projectName="ngModel" placeholder="Project name"
            name="projectName" [ngClass]="{ 'has-error': f.submitted && !projectName.valid }" required>
        </div>
        <div class="text-content">
          <i class="material-icons input-icon-style md-light md-inactive">track_changes</i>
          <input type="number" name="quantity" min="1" max="25" class="text-input" [(ngModel)]="userInfo.currentSprint" #currentSprint="ngModel"
            placeholder="Current sprint" name="currentSprint" [ngClass]="{ 'has-error': f.submitted && !currentSprint.valid }"
            required>
        </div>
        <div class="text-content">
          <i class="material-icons input-icon-style md-light md-inactive">supervisor_account</i>
          <input type="number" name="quantity" min="1" max="25" class="text-input" [(ngModel)]="userInfo.totalTeamCount" #totalTeamCount="ngModel"
            placeholder="# of members" name="totalTeamCount" [ngClass]="{ 'has-error': f.submitted && !totalTeamCount.valid }"
            required>
        </div>
      </div>
      <div class="col-md-12 padding0" *ngIf="showRetroLink">
        <div class="clearfix field-div">
          <div class="pull-left retroLink-text">
            <label class="form-label">Retrospective web link</label>
          </div>
          <div class="pull-left retro-textBox">
            <input type="text" class="text-input retro-textBox-width" [disabled]="true" [(ngModel)]="retroLink" name="retroLink">
          </div>
        </div>
      </div>
      <!-- <div *ngIf="f.submitted && !userDisplayName.valid && !userEmail.valid" class="error-msg-style">Please enter valid information</div> -->
      <button id="retro-login-btn" type="submit" *ngIf="!showRetroLink" analytics-label="Main Menu" class="button button-wide margin-top-3">Create retrospective</button>

      <button id="retro-login-btn" type="button" *ngIf="showRetroLink" analytics-label="Main Menu" class="button button-wide margin-top-3"
        (click)="goToLogin()">Click to join meeting</button>

    </form>
  </div>
</div>