<!-- Control Sidebar -->

<aside class="control-sidebar control-sidebar-dark setting-cntr">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
      <a href="#control-sidebar-settings-tab" data-toggle="tab">
        <i class="fa fa-gears"></i> Settings
      </a>
    </li>
    <!-- <li class="active">
      <a href="#control-sidebar-home-tab" data-toggle="tab">
        <i class="fa fa-gears"></i> General Settings
      </a>
    </li> -->
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <!-- <div class="tab-pane" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Recent Activity</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:;">
            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

              <p>Will be 23 on April 24th</p>
            </div>
          </a>
        </li>
      </ul>
     

      <h3 class="control-sidebar-heading">Tasks Progress</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:;">
            <h4 class="control-sidebar-subheading">
              Custom Template Design
              <span class="pull-right-container">
                <span class="label label-danger pull-right">70%</span>
              </span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
            </div>
          </a>
        </li>
      </ul>
      

    </div> -->
    <!-- /.tab-pane -->
    <!-- Stats tab content -->
    <!-- <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div> -->
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane active" id="control-sidebar-settings-tab">
      <form method="post">
        <h3 class="control-sidebar-heading">Export options</h3>
        <div class="form-group">
          <label class="control-sidebar-subheading downloadLink" (click)="downloadCommentsList()">
            Download retro comments
          </label>
          <p>
            Help you to download retro comments in excel file
          </p>
        </div>

        <div class="form-group">
          <label class="control-sidebar-subheading downloadLink" (click)="downloadHappinessScore()">
            Download happiness score
          </label>
          <p>
            Help you to download sprint happiness score in excel file
          </p>
        </div>
        <div class="form-group">
          <label class="control-sidebar-subheading downloadLink" (click)="downloadActionItemList()">
            Download Action item list
          </label>
          <p>
            Help you to export action item list in excel file
          </p>
        </div>
        <h3 class="control-sidebar-heading">Credits</h3>
        <div class="form-group">
          <label class="control-sidebar-subheading">
            Flat icons
          </label>
          <p>
            Icon made by Freepik from www.flaticon.com
          </p>
        </div>
      </form>
    </div>
    <!-- /.tab-pane -->
  </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>