.page-container {
  width: 98%;
  float: left;
  margin: 1.25rem 1rem;
  height: calc(100vh - 3.6rem - 5.2rem);
}

.userSettingList ul li .logout-svg {
  mask-size: cover;
  -webkit-mask-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

/* Feeds - Styles */

.page-container .feed.feed-list {
  border: 1px solid #fff;
  margin: 0.5rem 0;
  padding: 1rem;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(49, 57, 63, .2), 0 0 0 0.0625rem rgba(49, 57, 63, .05);
}

.page-container .padding0 {
  padding: 0;
}

.page-container .feed-list-content.interaction {
  padding-top: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1rem;
}

.panel-body.panel-body-padding {
  padding: 0 0.5rem;
  max-height: calc(100vh - 3.6rem - 8.2rem);
  overflow: auto;
}

.add-note-button {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

.feed .feed-content .description {
  padding-bottom: .75rem;
  max-height: 5.625rem;
  height: auto;
}

.feed .feed-multi .icons.feed-list-icons {
  margin-left: 0rem;
  margin-right: 0rem;
}

.feed-close-icon {
  background: #666;
  -webkit-mask-size: 100%;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 0.6rem;
  cursor: pointer;
}

.add-commment-icon {
  align-self: center;
  background-color: white;
  margin-left: auto;
  cursor: pointer;
}

.add-comment-cntr .comment-textBox-cntr {
  width: 100%;
}

.instruction-text {
  color: #d04a02;
  margin-top: 5px;
  font-size: 12px;
}

.posRelative {
  position: relative;
}

.comment-textBox {
  padding-right: 1.8rem;
}

.wentWell-status {
  background: #006652;
}

.wentWrong-status {
  background: #E0301E;
}

.improve-status {
  background: #FFB600;
}

.hightLight-icon {
  background: #d04a02 !important;
}

.wentWell-status.panel-heading .panel-title,
.wentWrong-status.panel-heading .panel-title,
.improve-status.panel-heading .panel-title {
  color: white;
}

.no-feed-found {
  height: 2rem;
  line-height: 6rem;
  text-align: center;
  opacity: 0.5;
}

/* Styles for middle container */

.content-wrapper {
  margin-left: 0;
  .progress-description,
  .info-box-text {
    white-space: normal;
    overflow: auto;
    height: 5.75rem;
  }
  .info-box-image {
    width: 5.2rem;
  }
  .add-comment-cntr {
    background: #f1f0f0;
    padding: 1rem 1rem 0.1rem 1rem;
    margin-bottom: 1rem;
  }
  .add-comment-icon {
    float: right;
    color: #d04a02;
    font-size: 24px;
    cursor: pointer;
  }
  .comment-close-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 14px;
    cursor: pointer;
  }
}

.info-box-icon {
  position: relative;
}

.info-comment-edit-box {
  position: absolute;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.35);
  bottom: -1px;
  .info-comment-remove-icon {
    float: right;
    margin: 3px 15px 0 0;
    font-size: 16px;
    cursor: pointer;
  }
  .info-comment-edit-icon {
    float: left;
    margin: 3px 0px 0 10px;
    font-size: 14px;
    cursor: pointer;
  }
 
}

.highlight-comment{
  border: 2px solid #d04a02;
}