.page-container {
  width: 98%;
  float: left;
  margin: 1.25rem 1rem;
  height: calc(100vh - 3.6rem - 5.2rem);
}

.footer {
  min-width: 51.875rem;
  float: left;
  width: 100%;
}

.userSettingList ul li .logout-svg {
  mask-size: cover;
  -webkit-mask-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

/* Feeds - Styles */

.page-container .feed.feed-list {
  border: 1px solid #fff;
  margin: 0.5rem 0;
  padding: 1rem;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(49, 57, 63, .2), 0 0 0 0.0625rem rgba(49, 57, 63, .05);
}

.page-container .padding0 {
  padding: 0;
}

.page-container .feed-list-content.interaction {
  padding-top: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1rem;
}

.panel-body.panel-body-padding {
  padding: 0 0.5rem;
  max-height: calc(100vh - 3.6rem - 8.2rem);
  overflow: auto;
}

.add-note-button {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

.feed .feed-content .description {
  padding-bottom: .75rem;
  max-height: 5.625rem;
  height: auto;
}

.feed .feed-multi .icons.feed-list-icons {
  margin-left: 0rem;
  margin-right: 0rem;
}

.feed-close-icon {
  background: #666;
  -webkit-mask-size: 100%;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 0.6rem;
}

.wentWell-status {
  background: #006652;
}

.wentWrong-status {
  background: #E0301E;
}

.improve-status {
  background: #FFB600;
}

.wentWell-status.panel-heading .panel-title,
.wentWrong-status.panel-heading .panel-title,
.improve-status.panel-heading .panel-title {
  color: white;
}

.no-feed-found {
  height: 14rem;
  line-height: 14rem;
  text-align: center;
  color: #9999;
}